@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-border: #1C2F41;

  --base-blue: #3294F8;
  --base-title: #E7EDF4;
  --base-subtitle: #C4D4E3;
  --base-text: #AFC2D4;
  --base-span: #7B96B2;
  --base-label: #3A536B;

  --base: #071422;
  --base-profile: #0B1B2B;
  --base-input: #040F1A;
  --base-post: #112131;
}
body {
  background: var(--base);
}
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--base);
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--base-label);
}