@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: #071422;

      --blue: #3294F8;

      --primary: #AFC2D4;
      
      --title: #E7EDF4;
      --subtitle: #C4D4E3;

      --muted: #7B96B2;
      
      --label: #3A536B;
      --border: #1C2F41;

      --input: #040F1A;

      --profile: #0B1B2B;
      --card: #112131;

      --radius: 0.5rem
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-primary;
    }
  }

  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--background);
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--border);
  }